In [1]:
import math

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Matplotlib is building the font cache; this may take a moment.

In [25]:
df_large_contries = pd.read_csv("large_countries_2015.csv", index_col=0)

In [26]:
### Fix 5 Bugs

In [24]:
import pandas

spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
participants = [2, 6, 9, 9, 9, 8]

df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })

# print(df.shape)
# print(df)

print(df.sort_values(by='participants', ascending=False)) 

# print("\ntotal participants:", df.sum(['participants'])) # Bugy line. Solved in the next line.
print("\ntotal participants:", sum(df.participants))

###
### I'm not sure what the 5 bugs should be really.
### But here is the code where each line is finely
### working.
###

(6, 2)
                          name  participants
2  Tensor ThymeLinear Lavender             9
3     Artificial Neural Nutmeg             9
4        Polynomial Peppermint             9
5              Sigmoid Saffron             8
1               Bayesian Basil             6
0        One-Hot Chili Peppers             2

total participants: 43

In [27]:
### Solve with One-Liners

In [56]:
# 1. read the file into a DataFrame
df_continents = pd.read_csv("continents.csv", sep=";")

# 2. display the number of rows and columns
#df_continents.shape

# 3. display the first 5 countries in the alphabet
#df_continents.sort_values(by='country', ascending="False").head(5)

# 4. which continent has the most countries?
#print(df_continents.groupby(by='continent').count())

# 5. find out on which continent Cyprus is
# print(df_continents.continent[df_continents["country"]=="Cyprus"])

# 6. define a DataFrame with all African countries
df_africa = df_continents[df_continents.continent=="Africa"]

# 7. define a DataFrame with countries 80 through 100
df_subset = df_continents.iloc[80:101,:]

# 8. select every second country
df_continents.iloc[::2,:]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]