### A quite simple & quick DT algorithm to be trained&tested on Tittanic data

In [2]:
### Importing essentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing sciKit-learn stuff
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('./cleaned_titanic_train.csv',index_col=0)

In [5]:
df.head(5)

   survived  pclass   age  sibsp  parch     fare  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1

In [4]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
male        0
Q           0
S           0
dtype: int64

In [6]:
X = df.drop('survived',axis=1)
y = df['survived']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 42)

In [8]:
dtcm = DecisionTreeClassifier(max_depth=4)
dtcm.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4)

In [9]:
y_preds = dtcm.predict(X_test)

In [10]:
accuracy_score(y_test,y_preds)

0.820627802690583

In [11]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.84      0.89      0.86       141
           1       0.78      0.71      0.74        82

    accuracy                           0.82       223
   macro avg       0.81      0.80      0.80       223
weighted avg       0.82      0.82      0.82       223

In [12]:
confusion_matrix(y_test,y_preds)

array([[125,  16],
       [ 24,  58]])