In [47]:
### Importing essentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Importing feature engineering related stuff
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

In [5]:
df = pd.read_csv('../train.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### MinMax/Standard Scaler

In [14]:
df['Fare'].shape

(891,)

In [6]:
mm_scaler = MinMaxScaler()

In [8]:
fare_col = df[['Fare']]

In [20]:
type(fare_col)

pandas.core.frame.DataFrame

In [9]:
mm_scaler.fit(fare_col) ## scaler model gets to know about min and max of the feature(s)

MinMaxScaler()

In [10]:
t = mm_scaler.transform(fare_col) ## performing the transformation on the feature. this yields a nparray

In [23]:
#print(t.shape)

In [26]:
type(t)

numpy.ndarray

In [19]:
#fare_col.columns

pandas.core.frame.DataFrame

In [27]:
fare_col_scaled = pd.DataFrame(t, columns=fare_col.columns) ## creating a DF out of t nparray

In [28]:
type(fare_col_scaled)

pandas.core.frame.DataFrame

In [29]:
fare_col_scaled.head()

       Fare
0  0.014151
1  0.139136
2  0.015469
3  0.103644
4  0.015713

In [30]:
std_scaler = StandardScaler()

In [31]:
std_scaler.fit(fare_col)

StandardScaler()

In [40]:
std_t = std_scaler.transform(fare_col)

In [35]:
#type(std_t)

In [34]:
fare_col_std_scaled = pd.DataFrame(std_t, columns=fare_col.columns)

In [37]:
#fare_col_std_scaled.head()

### One-Hot-Encoding

In [38]:
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [39]:
embarked = df[["Embarked"]]

In [41]:
ohe.fit(embarked)

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [42]:
ohe_t = ohe.transform(embarked)

In [44]:
embarked_ohed = pd.DataFrame(ohe_t, columns=ohe.get_feature_names())

In [45]:
embarked_ohed.head(5)

   x0_C  x0_Q  x0_S  x0_nan
0   0.0   0.0   1.0     0.0
1   1.0   0.0   0.0     0.0
2   0.0   0.0   1.0     0.0
3   0.0   0.0   1.0     0.0
4   0.0   0.0   1.0     0.0

### Pipeline

In [52]:
impute_mmscale = make_pipeline(       ## here is a short and simple pipeline
    SimpleImputer(strategy='mean'),
    MinMaxScaler()
)

age = df[['Age']] ## age scaling doens't make much sense probably but just for the sake of exercising FE methods

impute_mmscale.fit(age)
age_t = impute_mmscale.transform(age)

In [57]:
age_imputedscaled = pd.DataFrame(age_t, columns = ['scaled age'])
print(age_imputedscaled.head())

   scaled age
0    0.271174
1    0.472229
2    0.321438
3    0.434531
4    0.434531