### A quite simple & quick DT algorithm to be trained&tested on Tittanic data

In [1]:
### Importing essentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing sciKit-learn stuff
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('./cleaned_titanic_train.csv',index_col=0)

In [3]:
df.head(5)

   survived  pclass   age  sibsp  parch     fare  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1

In [4]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
male        0
Q           0
S           0
dtype: int64

In [5]:
X = df.drop('survived',axis=1)
y = df['survived']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 100)

In [10]:
lgm = LogisticRegression(max_iter=1000)
lgm.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [11]:
lgm.score(X_train, y_train)

0.8087201125175809

In [12]:
lgm.score(X_test, y_test)

0.7865168539325843

In [13]:
cv_score = cross_val_score(lgm, X_train, y_train, cv=5)

In [15]:
print(cv_score.mean())

0.8073278833842215